body {
	background-color: #4c4b4b;
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
    font-weight: normal;
	color: white;
}

a {
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
    font-weight: normal;
	color: white;
}

input, select {
    font-family: 'Poppins', sans-serif;
    margin-top: -3pt;
}

button {
	margin-top: 5pt;
	float: right;
}

.floating-box {
    display: inline-block;
    vertical-align: top;
    width: 200pt;
    height: 200pt;
    margin: 10pt;
    padding: 10pt;
    border: 1px solid #00b9f9;
}

.floating-box h1 {
    font-weight: bold;
	font-size: 1.2em;
    margin-top: -10pt;
    text-align: center;
}

.floating-box input[type=button] {
    float: right;
}

.floating-box input[type=range] {
    width: 100%;
}
